body {
    font-family:sans-serif;
}

#calc>* {
    display: block;
    font-size: 12pt;
}

#mainnav {
    padding-bottom: 10px;
}
#mainnav>* {
    padding: 10px;
    color: black;
    text-decoration: none;
}
#mainnav>*:hover {
    background-color: rgba(85, 85, 85, 0.582);
}
.titles {
    border: 5px solid black;
    padding: 2px;
    
}